@import 'https://fonts.googleapis.com/css?family=Muli:300,400|Open+Sans:400,800i';

html {
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  font-family: 'Open Sans' !important;
  font-style: italic;
  font-weight: 800 !important;
  color: white;
}

h3 {
  font-family: 'Muli';
  font-weight: 300;
}

.navbar {
  padding: 10px 10px;
  background-color: rgba(51,214,148, .8);
  margin: 0;
  border: none;
  border-radius: 0;
}

.navbar-brand {
  font-family: 'Muli';
  font-weight: 400;
  color: #280837 !important;
}

.navbar li a {
  font-family: 'Muli';
  font-weight: 300;
  color: white !important;
  border-radius: 3px;
}

.navbar li a:hover {
  background-color: #280837 !important;
}

.hero-image {
  background-image: url("../img/placeholder.jpg");
  background-position: center;
  background-size: cover;

  display: block;
  height: 70%;
  width: 100%;
}

.hero-callout {
  float: left;
  width: 50%;
  padding: 20px 40px;
}

.outline-button {
  display: inline-block;
  padding: 10px;
  color: white;
  border: .5px white solid;
  border-radius: 2px;
  width: auto;
}

.outline-button:hover {
  background-color: #280837;
}

#particles-js {
  float: right;
  width: 50%;
  height: 100%;
}
